<!DOCTYPE html>
{% load static %}
<html lang= "en">
    <head>
        <title>
            Registration Form
        </title>
        <link rel="stylesheet" href="{% static 'authentication/css/login.css' %}" type="text/css">
    </head>
    <body>
        <div class="container">
          <div class="center">
              <h1>Register</h1>
              <form action="{% url 'register' movie_name=selected_movie_name %}" method="POST">
                {% csrf_token %}
                  <div class="txt_field">
                      <input type="text" name="username" required>
                      <span></span>
                      <label>Username</label>
                  </div>
                  <div class="txt_field">
                    <input type="email" name="mail_id" required>
                    <span></span>
                    <label>Mail ID</label>
                  </div>
                  <div class="txt_field">
                    <input type="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                    <span></span>
                    <label>Password</label>
                  </div>
                  <div class="txt_field">
                    <input type="password" name="confirm" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                    <span></span>
                    <label>Confirm Password</label>
                  </div>

                  <input name="submit" type="Submit" value="Register">
                  <div class="signup_link">
                    <p class="register">Already a member?  <a href="{% url 'login' movie_name=selected_movie_name %}">Login here!</a></p>
                  </div>
              </form>
          </div>
        </div>
      </body>
</html>