@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
    background: url('images.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.movie-container {
  margin: 20px 0;
  padding-left: 40px;
}

.movie-container select {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.container {
  perspective: 1000px;
  margin-bottom: 30px;
}

.seat {
  background-color: #f5f5fc;
  height: 40px;
  width: 90px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.seat.selected {
  background-color: #5cac6a;
  display: flex;
}

.seat.occupied {
  background-color: #ff0000;
  display: flex;
}

.seat:nth-of-type(2) {
  margin-right: 18px;
}

.seat:nth-last-of-type(2) {
  margin-left: 18px;
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  background-color: rgba(251, 247, 247, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #f4ecec;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  font-size: larger;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.showcase li small {
  margin-left: 10px;
}

.row {
  display: flex;
}

.screen {
  background-color: #f4e8e8;
  height: 90px;
  width: 100%;
  margin: 15px 0;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.75);
}

p.text {
  margin: 5px 0;
  font-size: larger;
  font-weight: bolder;
  color: rgb(255, 251, 250);
  text-align: center;
}

p.text span {
  color: #747c7c;
  font-size: larger;
  font-weight: bolder;
  color: rgb(231, 129, 156);
}

button .proceed-button{
  display: inline-block;
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  width:30px
}

